# Import Libraries The libraries can be imported using the import keyword.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

# To read the datasets

In [3]:
data = pd.read_csv('DataSet_of_Cars.csv')

data.head()

,List_of_Cars,Brands,year_of_mnf,Old_Price,Tillnow_kms_driven,Fuel_types
0,Ford EcoSport Ambiente 1.5L TDCi,Ford,2016,"8,30,000","24,530 kms",Diesel
1,Maruti Suzuki Alto K10 VXi AMT,Maruti,2015,"2,50,000","60,000 kms",Petrol
2,Skoda Fabia Classic 1.2 MPI,Skoda,2010,"1,82,000","60,000 kms",Petrol
3,Maruti Suzuki Stingray VXi,Maruti,2015,"3,15,000","30,000 kms",Petrol
4,Hyundai Elite i20 Magna 1.2,Hyundai,2014,"4,15,000","32,000 kms",Petrol

In [6]:
data.shape

(884, 6)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884 entries, 0 to 883
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   List_of_Cars        884 non-null    object
 1   Brands              884 non-null    object
 2   year_of_mnf         884 non-null    object
 3   Old_Price           884 non-null    object
 4   Tillnow_kms_driven  832 non-null    object
 5   Fuel_types          829 non-null    object
dtypes: object(6)
memory usage: 41.6+ KB