# Import Libraries The libraries can be imported using the import keyword.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

# To read the datasets

In [4]:
data = pd.read_csv('DataSet_of_Cars.csv')

data.head()

,List_of_Cars,Brands,year_of_mnf,Old_Price,Tillnow_kms_driven,Fuel_types
0,Ford EcoSport Ambiente 1.5L TDCi,Ford,2016,"8,30,000","24,530 kms",Diesel
1,Maruti Suzuki Alto K10 VXi AMT,Maruti,2015,"2,50,000","60,000 kms",Petrol
2,Skoda Fabia Classic 1.2 MPI,Skoda,2010,"1,82,000","60,000 kms",Petrol
3,Maruti Suzuki Stingray VXi,Maruti,2015,"3,15,000","30,000 kms",Petrol
4,Hyundai Elite i20 Magna 1.2,Hyundai,2014,"4,15,000","32,000 kms",Petrol

In [5]:
data.shape

(884, 6)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884 entries, 0 to 883
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   List_of_Cars        884 non-null    object
 1   Brands              884 non-null    object
 2   year_of_mnf         884 non-null    object
 3   Old_Price           884 non-null    object
 4   Tillnow_kms_driven  832 non-null    object
 5   Fuel_types          829 non-null    object
dtypes: object(6)
memory usage: 41.6+ KB

In [7]:
backup=data.copy()

# To check the Null values

In [8]:
def null_count():
    return pd.DataFrame({'Column names': data.columns,
                'datatypes': data.dtypes.values,
                'Null counts': data.isnull().sum().values,
                'Null percentage': data.isnull().sum().values/data.shape[0]}).style.background_gradient(cmap='Blues',low=0.1,high=0.01)
null_count()

# Now to clean the given datasets

In [9]:
## year has many non-year values
data=data[data['year_of_mnf'].str.isnumeric()]

In [10]:
## year is in object. Change to integer
data['year_of_mnf']=data['year_of_mnf'].astype(int)

In [11]:
## Price has Ask for Price
data=data[data['Old_Price']!='Ask For Price']

In [12]:
## Price has commas in its prices and is in object
data['Old_Price']=data['Old_Price'].str.replace(',','').astype(int)

In [13]:
## kms_driven has object values with kms at last
data['Tillnow_kms_driven']=data['Tillnow_kms_driven'].str.split().str.get(0).str.replace(',','')

In [14]:
## It has nan values and two rows have 'Petrol' in them
data=data[data['Tillnow_kms_driven'].str.isnumeric()]
data['Tillnow_kms_driven']=data['Tillnow_kms_driven'].astype(int)

In [15]:
## fuel_type has nan values
data=data[~data['Fuel_types'].isna()]
data.shape

(810, 6)

In [16]:
## name and company had spammed data...but with the previous cleaning, those rows got removed.

### Company does not need any cleaning now. Changing car names. Keeping only the first three words
data['List_of_Cars']=data['List_of_Cars'].str.split().str.slice(start=0,stop=3).str.join(' ')

In [17]:
## Resetting the index of the final cleaned data
data=data.reset_index(drop=True)

In [18]:
## Cleaned Data
data

,List_of_Cars,Brands,year_of_mnf,Old_Price,Tillnow_kms_driven,Fuel_types
0,Ford EcoSport Ambiente,Ford,2016,830000,24530,Diesel
1,Maruti Suzuki Alto,Maruti,2015,250000,60000,Petrol
2,Skoda Fabia Classic,Skoda,2010,182000,60000,Petrol
3,Maruti Suzuki Stingray,Maruti,2015,315000,30000,Petrol
4,Hyundai Elite i20,Hyundai,2014,415000,32000,Petrol
...,...,...,...,...,...,...
805,Maruti Suzuki Ritz,Maruti,2011,270000,50000,Petrol
806,Tata Indica V2,Tata,2009,110000,30000,Diesel
807,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
808,Tata Zest XM,Tata,2018,260000,27000,Diesel
809,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

# listofcars and brands had spam data...but the previous cleaning, those rows got removed.

In [19]:
## Company does not need any cleaning now. Changing car names. Keeping only the first three words
data['List_of_Cars']=data['List_of_Cars'].str.split().str.slice(start=0,stop=3).str.join(' ')

In [20]:
## Resetting the index of the final cleaned data
data=data.reset_index(drop=True)

# Now The Cleaned Data is:

In [21]:
data

,List_of_Cars,Brands,year_of_mnf,Old_Price,Tillnow_kms_driven,Fuel_types
0,Ford EcoSport Ambiente,Ford,2016,830000,24530,Diesel
1,Maruti Suzuki Alto,Maruti,2015,250000,60000,Petrol
2,Skoda Fabia Classic,Skoda,2010,182000,60000,Petrol
3,Maruti Suzuki Stingray,Maruti,2015,315000,30000,Petrol
4,Hyundai Elite i20,Hyundai,2014,415000,32000,Petrol
...,...,...,...,...,...,...
805,Maruti Suzuki Ritz,Maruti,2011,270000,50000,Petrol
806,Tata Indica V2,Tata,2009,110000,30000,Diesel
807,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
808,Tata Zest XM,Tata,2018,260000,27000,Diesel
809,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   List_of_Cars        810 non-null    object
 1   Brands              810 non-null    object
 2   year_of_mnf         810 non-null    int32
 3   Old_Price           810 non-null    int32
 4   Tillnow_kms_driven  810 non-null    int32
 5   Fuel_types          810 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.6+ KB

In [23]:
data.describe(include='all')

,List_of_Cars,Brands,year_of_mnf,Old_Price,Tillnow_kms_driven,Fuel_types
count,810,810,810.000000,8.100000e+02,810.000000,810
unique,254,25,NaN,NaN,NaN,3
top,Maruti Suzuki Swift,Maruti,NaN,NaN,NaN,Petrol
freq,51,221,NaN,NaN,NaN,425
mean,NaN,NaN,2012.455556,4.125822e+05,46402.214815,NaN
std,NaN,NaN,4.006006,4.766190e+05,34369.172019,NaN
min,NaN,NaN,1995.000000,3.000000e+04,0.000000,NaN
25%,NaN,NaN,2010.000000,1.750000e+05,27000.000000,NaN
50%,NaN,NaN,2013.000000,2.999990e+05,41000.000000,NaN
75%,NaN,NaN,2015.000000,4.937500e+05,57000.000000,NaN
max,NaN,NaN,2019.000000,8.500003e+06,400000.000000,NaN

# Extracting Training Data

In [24]:
x=data[['List_of_Cars','Brands','year_of_mnf','Tillnow_kms_driven','Fuel_types']]
y=data['Old_Price']

In [25]:
x

,List_of_Cars,Brands,year_of_mnf,Tillnow_kms_driven,Fuel_types
0,Ford EcoSport Ambiente,Ford,2016,24530,Diesel
1,Maruti Suzuki Alto,Maruti,2015,60000,Petrol
2,Skoda Fabia Classic,Skoda,2010,60000,Petrol
3,Maruti Suzuki Stingray,Maruti,2015,30000,Petrol
4,Hyundai Elite i20,Hyundai,2014,32000,Petrol
...,...,...,...,...,...
805,Maruti Suzuki Ritz,Maruti,2011,50000,Petrol
806,Tata Indica V2,Tata,2009,30000,Diesel
807,Toyota Corolla Altis,Toyota,2009,132000,Petrol
808,Tata Zest XM,Tata,2018,27000,Diesel
809,Mahindra Quanto C8,Mahindra,2013,40000,Diesel

In [26]:
y

0      830000
1      250000
2      182000
3      315000
4      415000
        ...
805    270000
806    110000
807    300000
808    260000
809    390000
Name: Old_Price, Length: 810, dtype: int32

In [27]:
y.shape

(810,)

# Applying Train Test Split

In [28]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor 
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

#  Creating an OneHotEncoder object to contain all the possible categories

In [29]:
OHE=OneHotEncoder()
OHE.fit(x[['List_of_Cars','Brands','Fuel_types']])

OneHotEncoder()

# Creating a column transformer to transform categorical columns

In [30]:
column_trans=make_column_transformer((OneHotEncoder(categories=OHE.categories_),['List_of_Cars','Brands','Fuel_types']),
                                    remainder='passthrough')

# Random forest  Model

In [31]:
rr=RandomForestRegressor()

In [32]:
## Making a pipeline
pipe=make_pipeline(column_trans,rr)

# Fitting the model

In [34]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['List_of_Cars', 'Brands',
                                                   'Fuel_types'])])),
                ('randomforestregressor', RandomForestRegressor())])

In [35]:
y_pred=pipe.predict(x_test)

# Checking R2 Score

In [36]:
r2_score(y_test,y_pred)

0.7705367068089916

# Accuracy check for the Model(RandomForest)

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
rr=RandomForestRegressor()
pipe=make_pipeline(column_trans,rr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
print(r2_score(y_test,y_pred))

0.6102959177080721

# Linear Regression model

In [38]:
lr=LinearRegression()

In [39]:
pipe=make_pipeline(column_trans,lr)

In [40]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['List_of_Cars', 'Brands',
                                                   'Fuel_types'])])),
                ('linearregression', LinearRegression())])

In [41]:
y_pred=pipe.predict(x_test)

#  Checking R2 Score

In [42]:
r2_score(y_test,y_pred)

0.6498746823758781

In [43]:
scores=[]
for i in range(1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [44]:
np.argmax(scores)

566

In [45]:
scores[np.argmax(scores)]

0.9197518557560126

# The Final Model(Linear Regression)

In [46]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.9197518557560126

In [47]:
import pickle

In [48]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [49]:
pipe.steps[0][1].transformers[0][1].categories[0]

array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
       'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
       'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
       'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
       'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
       'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
       'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
       'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
       'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
       'Ford EcoSport Titanium', 'Ford EcoSport Trend',
       'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
       'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
       'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
       'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
       'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
       'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
       'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
       'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
       'Hyundai Accent Executive', 'Hyundai Accent GLE',
       'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
       'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
       'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
       'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
       'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
       'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
       'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
       'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
       'Hyundai Verna Transform', 'Hyundai Verna VGT',
       'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
       'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
       'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
       'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
       'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
       'Land Rover Freelander', 'Mahindra Bolero DI',
       'Mahindra Bolero Power', 'Mahindra Bolero SLE',
       'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
       'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
       'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
       'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
       'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
       'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
       'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
       'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
       'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
       'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
       'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
       'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
       'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
       'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
       'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
       'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
       'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
       'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
       'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
       'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
       'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
       'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
       'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
       'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
       'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
       'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
       'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
       'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
       'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
       'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
       'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
       'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
       'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
       'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
       'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
       'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
       'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
       'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
       'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
       'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
       'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
       'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
       'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
       'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
       'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
       'Volkswagen Passat Diesel', 'Volkswagen Polo',
       'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
       'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
       'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
       'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object)